.one{
    background-color: rgb(9, 79, 102);
    padding: 10px;
    text-align: center;
}
.one li{
    background-color: rgb(255, 139, 23);
    display:inline-block;
    text-align: center;
    padding: 10px;
    margin: 10px;

}
.two{
    background-color: rgb(233, 139, 44);
    display: inline-block;
    padding: 30px;
    text-align: center;
    color: white;
}
.coto{
    margin: 30px;
}
.two a{
    padding:13px;
    background-color: rgb(173, 14, 14);
    color: white;
    border-radius: 5px;
    

}
.three{
    background-color:rgb(223, 116, 9);
    padding: 20px;
    color: white;
    text-align: center;
}
.three a{
    text-align: center;
    background-color: rgb(223, 116, 9);
    color: black;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;

}
.four{
    background-color:rgb(7, 55, 70);
    padding: 25px;
    text-align: center;
}
.four li{
    background-color: rgb(255, 139, 23);
    display: inline-block;
    padding: 10px;
    margin: 10px;
    
}
